@page
@using AjudAkiWeb.Areas.Identity.Pages.Account
@model RegisterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cadastro";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/register.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form method="post">
            <div class="grid">
                <div>
                    <label for="cpf">CPF</label>
                    <input id="cpf" asp-for="Input.CPF" type="text" placeholder="Ex: 000.000.000-00" />
                </div>
                <div>
                    <label for="nome">Nome Completo</label>
                    <input id="nome" asp-for="Input.Nome" type="text" placeholder="Ex: Nome Completo" />
                </div>
                <div>
                    <label for="celular">Celular com DDD</label>
                    <input id="celular" asp-for="Input.Pessoa.Celular" type="text" placeholder="Ex: (00) 00000-0000" />
                </div>
                <div>
                    <label for="telefone">Telefone com DDD</label>
                    <input id="telefone" asp-for="Input.Pessoa.Telefone" type="text" placeholder="Ex: (00) 00000-0000" />
                </div>
                <div>
                    <label for="data-nascimento">Data de nascimento</label>
                    <input id="data-nascimento" asp-for="Input.Pessoa.DataNascimento" type="date" placeholder="01/01/2024" />
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" asp-for="Input.Email" type="email" placeholder="seuemail@email.com" />
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <input id="senha" asp-for="Input.Password" type="password" placeholder="Mínimo de 6 caracteres com letras e números" />
                </div>
                <div>
                    <label for="confimaSenha">Confirmar senha</label>
                    <input id="confimaSenha" asp-for="Input.ConfirmPassword" type="password" placeholder="Repita a senha novamente" />
                </div>
                <div>
                    <label for="cep">CEP</label>
                    <input id="cep" asp-for="Input.Pessoa.Cep" type="text" placeholder="Ex: 00000-000" />
                </div>
                <div>
                    <label for="bairro">Bairro</label>
                    <input id="bairro" asp-for="Input.Pessoa.Bairro" type="text" placeholder="Ex: Chlara..." />
                </div>
                <div>
                    <label for="rua">Rua</label>
                    <input id="rua" asp-for="Input.Pessoa.Rua" type="text" placeholder="Ex: Rua Manuel Das Neves Barreto..." />
                </div>
                <div>
                    <label for="numero">Número da residência</label>
                    <input id="numero" asp-for="Input.Pessoa.NumResidencia" type="text" placeholder="Ex: 206..." />
                </div>
                <div>
                    <label for="ponto">Ponto de Referência</label>
                    <input id="ponto" asp-for="Input.Pessoa.PontoReferencia" type="text" placeholder="Ex: Próximo ao eu amo Itabaiana" />
                </div>

            </div>
            <div class="checkbox-container">
                <input type="checkbox" class="checkbox-input" id="myCheckbox">
                <label for="myCheckbox">Estou ciente e concordo com a <a href="#" class="text-blue-600">Política de Privacidade</a> e os <a href="#" class="text-blue-600">Termos e Condições de Uso</a>.</label>
            </div>
            <div class="button-container">
                <button id="registerSubmit" class="btn-submit" type="submit">Finalizar cadastro</button>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}