@model AjudAkiWeb.Models.AreaAtuacaoViewModel

@{
    ViewData["Title"] = "Editar Área de Atuação";
}


<link href="~/css/AreaAtuacao.css" rel="stylesheet" />


<div class="row mt-4">
    <!-- Sidebar -->
    <div class="col-md-3 mb-3">
        <div>
            <a href="#" class="admin-menu-item">
                <i class="fa-solid fa-calendar-days me-2"></i> Solicitações de serviços
            </a>
            <a href="#" class="admin-menu-item">
                <i class="fa-solid fa-cart-shopping me-2"></i> Minhas contratações
            </a>
            <a href="#" class="admin-menu-item">
                <i class="fa-solid fa-briefcase me-2"></i> Meus serviços
            </a>
            <a href="#" class="admin-menu-item">
                <i class="fa-solid fa-file-contract me-2"></i> Minha assinatura
            </a>
             <a href="#" class="admin-menu-item">
                <i class="fa-solid fa-pen me-2"></i> Editar dados
            </a>
            <a href="#" class="admin-menu-item active">
                <i class="fa-solid fa-gear me-2"></i> Administração
            </a>
             <a href="#" class="admin-menu-item">
                <i class="fa-solid fa-right-from-bracket me-2"></i> Sair
            </a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
        <div class="admin-header">
            <h2>Administração</h2>
            <p>Editar área de atuação.</p>
        </div>

        <div class="admin-card">
            
                <h4 class="text-primary fw-bold mb-4">Editar Área de Atuação</h4>
                
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    
                    <input type="hidden" asp-for="Id" />
                    
                    <div class="form-group mb-3">
                        <label asp-for="Nome" class="control-label fw-bold mb-1"></label>
                        <input asp-for="Nome" class="form-control" placeholder="Digite o nome da área" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-success px-4">Salvar</button>
                        <a asp-action="Index" class="btn btn-secondary px-4">Voltar</a>
                    </div>
                </form>
            
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
