/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
}

/* Título principal */
h1 {
    color: #1976d2;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Subtítulo */
h4 {
    color: #1976d2;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Container do título e botão */
.btn-criar-container {
    display: flex;
}

.titulo-subtitulo {
    display: flex;
}

.criar-novo-plano {
    display: flex;
    margin-top: 30px;
    margin-right: auto;
}

.btn-criar {
    background-color: #006BC8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 680px;
}

    .btn-criar:hover {
        background-color: #004E93;
        border-color: #004085;
        color: white;
    }

/* Estilização dos cartões de plano */
.plano-card {
    border: 1px solid #e0e0e0;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

    /* Título do cartão */
    .plano-card h4 {
        font-size: 1.2em;
        color: #1976d2;
        margin-bottom: 10px;
    }

/* Detalhes do plano */
.plano-detalhes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plano-icone {
    font-size: 2em;
    margin-right: 15px;
}

.plano-info {
    flex-grow: 1;
}

/* Ações do plano */
.plano-acoes {
    gap: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-10%);
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-alterar, .btn-excluir {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-alterar {
    background-color: #006BC8;
}

    .btn-alterar:hover {
        background-color: #004E93;
        color: white;
    }

.btn-excluir {
    background-color: #EC3F41;
}

    .btn-excluir:hover {
        background-color: #DC0F13;
        color: white;
    }

/* Modal de Confirmação */
#deleteModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    max-width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #1a73e8;
    color: white;
    padding: 16px;
    border-bottom: 1px solid #e9ecef;
}

    .modal-header .modal-title {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
    }

    .modal-header .close {
        background: none;
        border: none;
        font-size: 1.25rem;
        color: white;
        opacity: 0.7;
        cursor: pointer;
    }

        .modal-header .close:hover {
            opacity: 1;
        }

.modal-body {
    padding: 16px;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.modal-footer {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid #e9ecef;
}

    .modal-footer .btn {
        padding: 8px 16px;
        font-size: 1rem;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Botão Confirmar */
    .modal-footer .btn-danger {
        background-color: #007447;
        color: white;
        border: none;
        transition: background-color 0.3s ease;
    }

        .modal-footer .btn-danger:hover {
            background-color: #005333;
        }

    /* Botão Cancelar */
    .modal-footer .btn-secondary {
        background-color: #B7BABC;
        color: #343537;
        border: none;
        transition: background-color 0.3s ease;
    }

        .modal-footer .btn-secondary:hover {
            background-color: #A0A3A6;
        }
