body {
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 2em;
    color: #1a73e8;
    margin: 0 0 0.2em 0;
}

h4 {
    font-size: 1.1em;
    color: #004E93;
    margin: 0 0 1em 0;
}

h5 {
    font-size: 1.5em;
    color: #004E93;
    margin: 0 0 1em 0;
}

/* Estilo do card */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Limita a largura do card */
    margin: 20px auto; /* Centraliza o card horizontalmente */
}

.assinatura-form {
    padding: 1.5em 0;
    border-top: none; /* Removendo a borda superior do form */
}

    .assinatura-form .form-group {
        margin-bottom: 1.2em;
    }

        .assinatura-form .form-group label {
            font-size: 1em;
            color: #004E93;
            margin-bottom: 0.5em;
            display: inline-block;
        }

    .assinatura-form .form-control {
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 0.8em;
        font-size: 1em;
        width: 100%;
    }

        .assinatura-form .form-control::placeholder {
            color: #bbb;
        }

    .assinatura-form textarea.form-control {
        resize: vertical;
        min-height: 80px;
    }

    .assinatura-form .form-group.button-group {
        text-align: center; /* Centraliza o botão dentro da div */
    }

    /* Estilo específico para o botão de envio no formulário de assinatura */
    .assinatura-form button[type="submit"] {
        background-color: #006BC8;
        color: #fff;
        font-size: 1em;
        padding: 10px 15px;
        text-align: center;
        height: auto;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: inline-block;
        margin-top: 10px;
        width: auto; /* Removendo uma largura fixa */
    }

        .assinatura-form button[type="submit"]:hover {
            background-color: #004E93;
        }

    /* Estilo para links apenas dentro do formulário de assinatura */
    .assinatura-form a {
        color: #006BC8;
        text-decoration: none;
        font-size: 1em;
    }

        .assinatura-form a:hover {
            text-decoration: underline;
        }
