@import url(/css/colors.css);

body, html {
    font-family: 'CentraNubeBook' sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-white);
}


.container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

label {
    margin-top: 1rem;
    color: var(--secundary-color);
}

input, select, button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: var(--bg-white);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: var(--secundary-color);
    }

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 420px 420px; /* Define uma largura fixa para ambas as colunas */
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
    width: 100%;
    justify-content: center;
}

    .flex {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: var(--primary-color);
}

.button-container {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    width: 100%; /* Garante que o container ocupe toda a largura */
}

.btn-submit {
    width: 200px; /* Define uma largura específica para o botão */
    margin-top: 50px;
}
