
@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Agende agora a sua solução</h1>
    <h6> Sua solução em alguns cliques de distância</h6>

    <section class="search">
        <form action="/search" method="get">
            <input type="search" name="query" placeholder="Área de atuação">
            <input type="search" name="query" placeholder="Região">
            <button type="submit">Pesquisar</button>
        </form>
    </section>

    <section class="categorias">
        <h4>
            Áreas de atuação
        </h4>
        <article>
            <p>Reparos</p>
        </article>
        <article>
            <p>Diarista</p>
        </article>
        <article>
            <p>Encanador</p>
        </article>
        <article>
            <p>Elestricista</p>
        </article>
        <article>
            <p>Refrigerista</p>
        </article>
        <article>
            <p>Jardineiro</p>
        </article>
        <article>
            <p>Lavagem forte</p>
        </article>
    </section>
</section>

