@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/HomeIndex.css" rel="stylesheet" asp-append-version="true" />
</head>


<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 vw-100">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/Logo_AjudAki.webp" alt="AjudAkiWeb" style="height: 50px;" />
            <span class="text-primary ms-2">AjudAki</span>
        </a>
        <div class="navbar-collapse d-flex justify-content-center">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <a class="nav-link text-dark" asp-area="" asp-controller="Contratacao" asp-action="Index">Contratar Serviço</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Agenda" asp-action="Index">Agenda</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Avaliar" asp-action="Index">Avaliar</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="AreaAtuacao" asp-action="Index">Area Atuação</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Assinatura" asp-action="Index">Assinatura</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="PagarAssinatura" asp-action="Index">Pagar Assinatura</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Cliente</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Profissional" asp-action="Index">Profissional</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="SolicitacaoServico" asp-action="Index">Solicitação de Serviço</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Tiposervico" asp-action="Index">Tipo Serviço</a>
            </div>
        </div>
        <div class="forms flex-grow-1 d-flex">
            <a asp-area="" asp-controller="Servico" asp-action="Index" class="btn btn-servico" type="button">
                Ofertar Serviço <i class="fa-regular fa-money-bill-1 ms-2"></i>
            </a>

            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-conta" type="button">
                Minha Conta <i class="fa fa-user ms-2"></i>
            </a>
        </div>
    </div>
</nav>


<body>
    <section class="text-center">
        <div class="image-background">
            <h2 class="display-4">Agende agora a sua solução</h2>
            <h4> Sua solução em alguns cliques de distância</h4>

            <section class="search">
                <form action="/search" method="get">
                    <input type="search" name="query" placeholder="Área de atuação">
                    <select name="queryRegiao" required>
                        <option value="" disabled selected>Selecione um estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                    <button class="botao" type="submit">Pesquisar</button>
                </form>
            </section>
        </div>
    </section>
<section class="categorias">
    <h4>Áreas de atuação</h4>
    <article>
        <img src="~/img/Reparos.png" alt="Reparos" class="categoria-icon">
        <p>Reparos</p>
    </article>
    <article>
        <img src="~/img/Diarista.png" alt="Diarista" class="categoria-icon">
        <p>Diarista</p>
    </article>
    <article>
        <img src="~/img/Encanador.png" alt="Encanador" class="categoria-icon">
        <p>Encanador</p>
    </article>
    <article>
        <img src="~/img/Eletricista.png" alt="Eletricista" class="categoria-icon">
        <p>Eletricista</p>
    </article>
    <article>
        <img src="~/img/Refrigerista.png" alt="Refrigerista" class="categoria-icon">
        <p>Refrigerista</p>
    </article>
    <article>
        <img src="~/img/Jardineiro.png" alt="Jardineiro" class="categoria-icon">
        <p>Jardineiro</p>
    </article>
    <article>
        <img src="~/img/Lavagem.png" alt="Lavagem forte" class="categoria-icon">
        <p>Lavagem forte</p>
    </article>
</section>
</body>
