@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/HomeIndex.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <section class="text-center">
        <h2 class="display-4">Agende agora a sua solução</h2>
        <h4> Sua solução em alguns cliques de distância</h4>

        <section class="search">
            <form action="/search" method="get">
                <input type="search" name="query" placeholder="Área de atuação">
                <input type="search" name="query" placeholder="Região">
                <button class="botao" type="submit">Pesquisar</button>
            </form>
        </section>
    </section>

    <section class="categorias">
        <h4>
            Áreas de atuação
        </h4>
        <article>
            <p>Reparos</p>
        </article>
        <article>
            <p>Diarista</p>
        </article>
        <article>
            <p>Encanador</p>
        </article>
        <article>
            <p>Eletricista</p>
        </article>
        <article>
            <p>Refrigerista</p>
        </article>
        <article>
            <p>Jardineiro</p>
        </article>
        <article>
            <p>Lavagem forte</p>
        </article>
    </section>
</body>
