@model IEnumerable<AjudAkiWeb.Models.AssinaturaViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/AssinaturaIndex.css" rel="stylesheet" asp-append-version="true" />
</head>

<h1>Administração</h1>
<h4>Gerencie as áreas de assinaturas.</h4>

@foreach (var item in Model)
{
    <section class="plano-card">
        <h4>Detalhes do plano</h4>
        <div class="plano-detalhes">
            <span class="plano-icone">📄</span>
            <div class="plano-info">
                <strong>@item.Nome</strong>
                <p>Descrição: @item.Descricao</p>
            </div>
        </div>
        <div class="plano-acoes">
            <button>
                @Html.ActionLink("Alterar plano", "Edit", new { id = item.Id }, new { @class = "btn-alterar" })
            </button>
            <button>
                @Html.ActionLink("Excluir plano", "Delete", new { id = item.Id }, new { @class = "btn-excluir" })
            </button>
        </div>
    </section>
}
<div class="btn-criar-container">
    <div class="criar-novo-plano">
        <h4>Criar um novo plano</h4>
        <a asp-action="Create" class="btn-criar">Criar plano</a>
    </div>
</div>
